<h1>Beer of the day !</h1>
<div class="beerDay">
    <img src="{{beerKey.image_url}}" class="img_beer2" alt="img_beer">
    <div id="text">
        <p id="name">{{beerKey.name}}</p>
        <p>{{beerKey.description}}</p>
        <p>{{beerKey.tagline}}</p>
        <p>{{beerKey.food_pairing}}</p>
        <p>{{beerKey.brewers_tips}}</p>
    </div>
</div>

     
